.feature-extended {
	padding-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 4rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 30rem;
}

.features-extended {
	width: 100%;
}

.feature-extended-blue {
	background-color: rgba(22, 155, 215, 0.15);
}

.feature-extended-image,
.feature-extended-body {
	width: 100%;
}

.feature-extended-image {
	margin-bottom: 24px;
	flex-direction:row img,
	svg {
		width: 100%;
		max-width: 320px;
		height: auto;
		margin: 0 auto;
		overflow: visible;
	}
}

.features-extended-inner {
}

.feature-extended-body {
	text-align: center;
}

@include media(">medium") {
	.features-extended {
		.section-paragraph {
			padding-left: 72px;
			padding-right: 72px;
			margin-bottom: 0;
		}
	}

	.feature-extended {
		display: flex;
		align-items: center;
		padding-top: 72px;

		&:nth-child(even) {
			.feature-extended-image {
				order: 1;
			}
		}
	}

	.feature-extended-image,
	.feature-extended-body {
		width: auto;
		padding: 0 24px;
	}

	.feature-extended-image {
		margin-bottom: 0;

		img,
		svg {
			max-width: none;
			width: 320px;
		}
	}

	.feature-extended-body {
		text-align: left;
	}
}

@include media(">large") {
	.feature-extended {
		padding-left: 8rem;
		padding-right: 8rem;
	}

	.feature-extended-image,
	.feature-extended-body {
		padding: 0 40px;
	}

	.feature-extended-image {
		img,
		svg {
			width: 480px;
		}
	}
}

.feature-extended-shoppingCar {
	padding-top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 4rem;
	height: 40rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

.text-align-center {
	text-align: center;
	width: 60%;
}

.feature-extended-image__first-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
